#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>; /* tune to taste */
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        w {
            bindings = <&kp W>;
            key-positions = <4 16>;
        };

        b {
            bindings = <&kp B>;
            key-positions = <19 20>;
        };

        m {
            bindings = <&kp M>;
            key-positions = <3 15>;
        };

        v {
            bindings = <&kp V>;
            key-positions = <3 4>;
        };

        l {
            bindings = <&kp L>;
            key-positions = <8 7>;
        };

        g {
            bindings = <&kp G>;
            key-positions = <7 19>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <2 14>;
        };

        k {
            bindings = <&kp K>;
            key-positions = <8 20>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <15 16>;
        };

        j {
            bindings = <&kp J>;
            key-positions = <9 21>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        FREQ {
            display-name = "frequent alphabet";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&none  &none  &kp Y  &kp F           &kp I      &none            &none               &kp D        &kp C             &kp R  &none  &none
&none  &kp X  &kp O  &kp E           &kp U      &none            &none               &kp H        &kp T             &kp N  &kp Z  &none
&none  &kp A  &none  &none           &none      &none            &none               &none        &none             &none  &kp S  &none
                     &kp LEFT_SHIFT  &lt 1 ESC  &kp BACKSPACE    &mt LEFT_WIN ENTER  &lt 2 SPACE  &kp LEFT_CONTROL
            >;
        };

        NUM {
            display-name = "numbers";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&none  &none   &kp EQUAL  &kp MINUS  &kp N0  &none    &none         &kp N9  &kp ASTRK       &kp SLASH  &none   &none
&none  &none   &kp N2     &kp N3     &kp N4  &none    &none         &kp N5  &kp N6          &kp N7     &none   &none
&none  &kp N1  &none      &none      &none   &none    &none         &none   &none           &none      &kp N8  &none
                          &none      &trans  &none    &kp LEFT_GUI  &trans  &kp LEFT_SHIFT
            >;
        };

        NAV {
            display-name = "navigation + brackets";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none    &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &none           &none  &kp ENTER     &kp I           &kp J             &none  &none
&none  &none    &kp LEFT     &kp DOWN  &kp RIGHT      &none           &none  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &none  &none
&none  &kp TAB  &none        &none     &none          &none           &none  &none         &none           &none             &none  &none
                             &none     &trans         &kp LEFT_GUI    &none  &trans        &none
            >;
        };

        SYM {
            display-name = "symbols";
            bindings = <
&none  &none             &kp GRAVE       &kp TILDE        &kp PIPE           &none    &none  &kp BACKSLASH  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &none     &none
&none  &none             &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &none    &none  &kp COMMA      &kp PERIOD        &kp COLON          &none     &none
&none  &kp LEFT_BRACKET  &none           &none            &none              &none    &none  &none          &none             &none              &kp SEMI  &none
                                         &none            &trans             &none    &none  &trans         &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        symbols {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
